body {
  font-family: 'Quicksand', sans-serif;
}

#main {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

#container {
  display: flex;
  padding-bottom: 30px;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

#next-container {
  padding: 10px;
  width: 300px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

#config {
  padding-top: 0px;
  padding-bottom: 50px;
  display: flex;
  justify-content: flex-end;
  font-size: small;
}

#config > ul > li {
  list-style-type: none;
}

#maxNumberInput {
  width: 50px;
  padding: 5px;
}

#current {
  font-size: 250px;
  text-align: center;
  margin: 0;
  font-weight: 200;
  padding-bottom: -10;
  border-radius: 10px;
}

#finished-container {
  padding: 10px;
  width: 560px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* display: flex;
  align-items: center; */
}

h2 {
  text-align: center;
  margin: 0;
  font-weight: 200;
}

#output {
  display: flex;
  flex-flow: column wrap; /* flex-direction: column */
  height: 350px;
  list-style-type: none;
}

ul ~ ul {
  flex-flow: row wrap; /* flex-direction: row */
  max-height: auto; /* override max-height of the column direction */
}

#output > li {
  width: 80px;
  font-size: 40px;
}

#myButton {
  width: 100px;
  height: 50px;
}

#display {
  margin-left: 30px;
}

#addArray {
  margin-right: 30px;
}

.modal {
  display: none;
  position: fixed;
  justify-content: center;
  margin-top: -10px;
  margin-left: -10px;
  align-items: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
  width: 100%;
}

.modal_content {
  background-color: white;
  position: absolute;
  height: 400px;
  width: 800px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  /* font-size: 30px; */
}

.modal_content > div > input {
  width: 400px;
  margin-right: 10px;
  margin-left: 10px;
  height: auto;
  border-radius: 10px;
}

.close {
  margin-top: 60px;
}

.js-btn {
  margin-top: 10px;
  margin-left: 10px;
  height: 50px;
  width: 50px;
  display: inline-block;
}
